{% extends 'books/base.html' %} 
{% load static %}
{% block title %} {{book.name}} {%endblock%}
{% block content %}
<div id="div1">
  <h1>Book info</h1>
  <table style="width:50%" id="bookstable">
    <tr>
      <th>Name</th>
      <td>{{book.name}}</td>
    </tr>
    <tr>
      <th>Author</th>
      <td><a class="links" href="{% url 'author_info' book.author.id %}">{{book.author}}</a></td>
    </tr>
    <tr>
      <th>Price</th>
      <td>{{book.price}}</td>
    </tr>
    <tr>
      <th>Puplish Date</th>   
      <td>{{book.puplishDate}}</td>
    </tr>
    <tr>
      <th>Add To Site At</th>   
      <td>{{book.AddToSiteAt}}</td>
    </tr>
    <tr>
      <th>appropriate for</th>   
      <td>{{book.appropriate}}</td>
    </tr>
    
    <tr>
      <th>book image</th>
      <td> <img src="{% static 'books/images/' %}{{book.img}}" /> </td>
    </tr>
  </table>

</div>

{%endblock%}
